@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main{
  width: 450px;
  border: 2px solid rgba(238, 238, 238, 0.514);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.main .todoTop h1{
  text-align: center;
  margin: 20px 0;
  color: #efefef;
}

.textBox{
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.textBox::placeholder{
  color: gray;
}

.btnAdd{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: rgb(228, 208, 30);
  color: #282c34;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: .5s;
}

.btnAdd:hover{
  background-color: rgb(255, 252, 73);
}


.todoList {
  margin: 10px 0;
  width: 80%;
}

.todoList .todoItem{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 10px 25px;
  color: #efefef;
  background-color: rgb(13, 14, 15);
  border-radius: 5px;
}

.todoList .todoItem .btnDelete{
  padding: 5px 10px;
  font-size: 10px;
  background-color: rgb(202, 43, 43);
  color: #efefef;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.todoList .todoItem .btnDelete:hover{
  background-color: rgb(223, 32, 32);
}

.clearTodo
{
  margin: 10px 0;
}

.clearTodo .btnClearAll{
  padding: 8px 18px;
  font-size: 14px;
  color: #efefef;
  border: none;
  border-radius: 3px;
  background-color: rgb(202, 43, 43);
  cursor: pointer;
  transition: .5s;
}

.clearTodo .btnClearAll:hover{
  letter-spacing: 1px;
}